body{
    display: flex;
    flex-direction: column;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    align-items: center;
    font-size: 25px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width:900px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.buttons button{

    background-color: grey;

    font-size: 120px;
    border:none;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.resultTextDiv, .scoreTextDiv {
    margin-bottom: 20px;
}
.finalResultDiv{
    font-size: 35px;
}

.tryAgain{
    background-color: grey;
    border: none;
    font-size: 35px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}